#header {
    background-image: url("../world-cup.jpg");
    background-position: center center;
    background-size: cover;
/*    height: 350px;*/
    vertical-align: middle;
}

.title-box {
    max-width: 30%;
    padding: 125px 0;
    margin: 0 auto;
}

.box {
    width: 90%;
    background-color: darkgray;
    padding: 10px;
}

h1 {
/*    display: inline;*/
    color: white;
    opacity: 1;
    text-align: center;
}

.gray-title {
    color: darkgray;
    margin-bottom: 30px;
}