#header {
    background-image: url("../world-cup.jpg");
    background-position: center center;
    background-size: cover;
/*    height: 350px;*/
    vertical-align: middle;
}

.top-bar {
    background-color: aliceblue;
    text-align: left;
}

.top-bar h3 {
    color: #007bff;
    padding: 10px;
}

.top-bar h3 {
    color: #007bff;
    padding: 10px;
}

.left {
    float: left;
    text-align: left;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.title-box {
    max-width: 30%;
    padding: 125px 0;
    margin: 0 auto;
}

.box {
    width: 90%;
    background-color: darkgray;
    padding: 10px;
}

h1 {
/*    display: inline;*/
    color: white;
    opacity: 1;
    text-align: center;
}

.gray-title {
    color: darkgray;
    margin-bottom: 30px;
}

.center {
    align-content: center;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.container-flex a {
    font-size: 20px;
}

.container-flex a:hover {
    text-decoration: none;
    font-style: italic;
}

nav {
    background-color: aliceblue;
}

.container-full {
    max-width: 100%;
}

.container table {
    margin: 0 auto;
    margin-top: 30px; 
}

.small-img {
    max-height: 50px;
}

.large-img {
    max-height: 200px;
}